@charset "UTF-8";

:root {
    --marrom: #363636;
    --cinzaclaro: #EFF2F1;
    --opacaclaro: #F4B942;
    --verdeclaro: #97D8C4;
    --pretoclaro: #242F40;
    --preto: #000000;
    --branco: #FFFFFF;
}